
html
{
	height:100%;
	width:100%;
	margin:0;
}

body
{
	background-color:#ddd;
	height:100%;
	width:100%;
	margin:0;
}

table tr td
{
	border-collapse:collapse;
	border:none 0;
}

th
{
	padding:0;
}

th, td
{
	border:none 0;
	padding:0;
}

h1, h2
{
	margin:10px 0 5px 0;
}

ul.list
{
	margin:15px;
}

ul.list li
{
	margin-left:15px;
	list-style-type:disc;
	list-style-position:inside;
}

.logo
{
	width:220px;
	height:89px;
	display:block;
	margin-top:10px;
	background:Transparent url(Images/Logo.png) no-repeat 0 0;
}

.dynamic-content
{
	height:100%;
	overflow:auto;
}

.dynamic-content-no-overflow
{
	overflow:inherit;
}

.noHoverLink:hover
{
	background-color:Transparent;
}


.loginPanel
{
	width:200px;
	font-size:10px;
}

.loginPanel table
{
	border-collapse:collapse;
}

.loginPanel table tr td
{
	margin:0;
	padding:1px;
}

.showLoginBtn
{
	font-size:10px;
	margin:5px;
}

.topHeader
{
	background:url('Images/top-background.png') repeat-x 0 0;
	height:70px;
	width:100%;
	padding:15px 0 15px 0;
}

.sliding-menu-btn
{
	padding:0px !important;
}

.sliding-menu-btn:hover
{
	background-color:Transparent !important;
}

.sliding-leaf
{
	margin-top:8px;
}

.menuBtn
{
	width:100%;
}

a
{
	text-decoration:none;
}

a:hover
{
	background-color:#eee;
}

a.disabled
{
	color:#999;
}

.sliding-menu
{
	border:none 0 !important;
}

.bread-crumb-parent
{
	background-image:none !important;
}

.openIDTextBoxWrapper
{
	position:absolute;
	float: right;
	top:25px;
	right:95px;
}

.openIDTextBox
{
	padding-left:23px;
	padding-top:2px;
	background:White url(Images/logo_openid.png) no-repeat 0 0;
	height:19px;
	font-size:15px;
	font-weight:bold;
}

.logoutLinkButton a
{
 background: position:absolute no-repeat 0 0;
 height: 57px;
 top: 22px;
 right: 15px;
 background-image: url('portalSkins/Logoff.png');
 float: right;
 background-repeat: no-repeat;
 position: absolute;
 width: 72px;
}

.logoutLinkButton a:hover
{
 background: position:absolute no-repeat 0 0;
 height: 57px;
 top: 22px;
 right: 15px;
 background-image: url('portalSkins/LogoffMo.png');
 float: right;
 background-repeat: no-repeat;
 position: absolute;
 width: 72px;
 background-color:Transparent;
}
 
.loginLinkButton input[type="button"]
{
	background: position:absolute no-repeat 0 0;
	height: 35px;
	top: -3px;
	right: -80px;
	background-image: url('portalSkins/Login.png');
	float: right;
	background-repeat: no-repeat;
	position: absolute;
	width: 72px;
}

.loginLinkButton input[type="button"]:hover
{
	background: position:absolute no-repeat 0 0;
	height: 35px;
	top: -3px;
	right: -80px;
	background-image: url('portalSkins/login.png');
	float: right;
	background-repeat: no-repeat;
	position: absolute;
	width: 72px;
	background-color:Transparent;
}





.filterTextBox
{
	right:15px;
	width:80px !important;
	margin-bottom:5px;
	background:White url(filter-icon.png) no-repeat 0 0;
	border:solid 1px #99e;
	padding-left:15px;
}

.informationPanel
{
	position:absolute;
	top:15px;
	display:none;
	font-weight:bold;
	left:250px;
	width:700px;
	background-color:#d3d3d4;
	border:dashed 1px #666;
	z-index:2000;
}

.informationPanelInner
{
	padding:20px;
}

.informationLabel
{
	display:block;
	margin-right:80px;
}

.wholeChatAre
{
	background-color:#c3c3c4;
}

.chatOutput
{
	margin:15px;
}

.chatOutput li
{
	padding:3px;
}

.chatOutput .time
{
	width:40px;
	display:block;
	float:left;
}

.chatOutput .username
{
	width:100px;
	display:block;
	float:left;
	font-weight:bold;
}

.chatOutput .content
{
	display:block;
	clear:both;
	border:none 0;
	padding:0;
	background-color:Transparent;
}

.gridBoldText
{
	font-weight:bold;
	color:#a80;
}

.newRow
{
	background:url('Images/light_bulb.png') no-repeat 0 0;
	padding-left:18px;
}

.window_content
{
	background-color:#C3C3C4;
}

.treeLinkButton
{
	padding-left:2px;
}

.flags-arabian,
.flags-norwegian,
.flags-britain,
.flags-german,
.flags-france,
.flags-spain,
.flags-sweden,
.flags-USA
{
	width:120px;
	height:75px;
	display:block;
	float:left;
	margin:5px;
}

.flags-arabian:hover,
.flags-norwegian:hover,
.flags-britain:hover,
.flags-german:hover,
.flags-france:hover,
.flags-spain:hover,
.flags-sweden:hover,
.flags-USA:hover
{
	text-decoration:none;
	background-color:Transparent;
}

.flags-arabian
{
	background:transparent url(Images/flags.png) no-repeat 0 0;
}

.flags-norwegian
{
	background:transparent url(Images/flags.png) no-repeat -120px 0;
}

.flags-britain
{
	background:transparent url(Images/flags.png) no-repeat -360px 0;
}

.flags-german
{
	background:transparent url(Images/flags.png) no-repeat -240px 0;
}

.flags-france
{
	background:transparent url(Images/flags.png) no-repeat -480px 0;
}

.flags-spain
{
	background:transparent url(Images/flags.png) no-repeat -600px 0;
}

.flags-sweden
{
	background:transparent url(Images/flags.png) no-repeat -720px 0;
}

.flags-USA
{
	background:transparent url(Images/flags.png) no-repeat -840px 0;
}

.hideCaption .window_title
{
	display:none !important;
}

.favouriteButton
{
	background:transparent url(Images/pluss.png) no-repeat 0 0;
	display:block;
	width:25px;
	height:25px;
}	

.favouriteButton:hover
{
	background-color:Transparent;
}



.grid
{
	width:95%;
}

.grid .gridWrapper
{
	width:100%;
}

.grid .gridWrapper .table
{
	width:100%;
}

.grid .gridWrapper .table tr td
{
	padding:0.8em;
}

.grid .gridWrapper .table tr td a
{
	display:block;
}

.grid .gridWrapper .table tr.even
{
	background-color:#b3b3b4;
}

.grid .gridWrapper .table tr.odd
{
	background-color:#c0c0c1;
}

.grid .gridWrapper .table tr.even td,
.grid .gridWrapper .table tr.odd td
{
	padding:0.5em;
}

.grid .gridWrapper .table .headerButton
{
	width:95% !important;
}

div.edit
{
	color:Blue;
	cursor:pointer;
	padding-left:20px;
	background:url('editable.png') no-repeat 0 0;
}

div.edit:hover
{
	background-color:#cacacb;
}

div.edit span
{
	display:block;
}

div.edit input,
div.edit textarea
{
	display:block;
	width:90%;
}

.filter
{
	width:80px !important;
	margin:15px 15px 5px 15px;
	background:White url(filter-icon.png) no-repeat 0 0;
	border:solid 1px #99e;
	padding-left:15px;
	color:#777;
	font-size:11px;
}

.grid .count
{
	font-size:12px;
	color:Black;
}

.grid .previous
{
	color:Blue;
	font-size:12px;
	padding-right:15px;
}

.grid .previous-disabled
{
	color:#999;
	font-size:12px;
	padding-right:15px;
}

.grid .next
{
	color:Blue;
	font-size:12px;
	padding-left:15px;
}

.grid .next-disabled
{
	color:#999;
	font-size:12px;
	padding-left:15px;
}

.grid .previous-disabled:hover,
.grid .next-disabled:hover
{
	text-decoration:none;
	background-color:Transparent;
}

.clicked .bCenter span
{
	background:url('steel/window-sprite.png') no-repeat -16px -81px;
	padding-left:15px;
}

.clicked-backwards .bCenter span
{
	background:url('steel/window-sprite.png') no-repeat -16px -65px;
	padding-left:15px;
}

.deleteBtn
{
	display:block;
	background:url('Images/delete.png') no-repeat 0 0;
	width:16px;
	height:16px;
}

.deleteBtn:hover
{
	background:url('Images/delete-hover.png') no-repeat 0 0;
}

.colorLabel
{
	background:url('Images/Gray.png') no-repeat 0 0;
	display:block;
	width:25px;
	height:25px;
	position:relative;
	cursor:pointer;
	margin-left:auto;
	margin-right:auto;
}

.Red
{
	background:url('Images/Red.png') no-repeat 0 0;
}

.Blue
{
	background:url('Images/Blue.png') no-repeat 0 0;
}

.Green
{
	background:url('Images/Green.png') no-repeat 0 0;
}

.Gray
{
	background:url('Images/Gray.png') no-repeat 0 0;
}

.Yellow
{
	background:url('Images/Yellow.png') no-repeat 0 0;
}

.colorPanel
{
	position:absolute;
	top:5px;
	left:5px;
	width:150px;
	z-index:500;
	cursor:default;
}

.colorPanel .colorButton
{
	width:25px;
	height:25px;
	float:left;
	margin:3px;
	cursor:pointer;
}

.colorPanel .Gray
{
	background:url('Images/Gray.png') no-repeat 0 0;
}

.colorPanel .Red
{
	background:url('Images/Red.png') no-repeat 0 0;
}

.colorPanel .Blue
{
	background:url('Images/Blue.png') no-repeat 0 0;
}

.colorPanel .Green
{
	background:url('Images/Green.png') no-repeat 0 0;
}

.colorPanel .Yellow
{
	background:url('Images/Yellow.png') no-repeat 0 0;
}

.candy
{
	width:250px;
	height:210px;
	margin:10px;
	padding:15px;
	float:left;
	border:dashed 1px #999;
	cursor:pointer;
	text-align:center;
}

.menuSearch
{
	position:absolute;
	display:block;
	top:0px;
	right:10px;
	width:100px !important;
	z-index:100;
	margin:0 !important;
}

.searchResults
{
	position:absolute;
	top:20px;
	right:0px;
	z-index:101;
	width:165px;
}

.searchResults ul
{
}

.searchResults ul li
{
	list-style-type:none;
}


.smallSelectList
{
	font-size:10px;
	width:120px;
}

tr.strike td
{
	text-decoration:line-through;
}

.wait-gif
{
	background:Transparent url(wait.gif) no-repeat 0 0;
	position:absolute;
	top:25px;
	left:50%;
	width:70px;
	height:70px;
	z-index:2000;
	display:block;
}

/* CMS parts */

span.button
{
	width: auto;
	border: none 0;
	background-color: Transparent;
	margin-bottom:6px;
	font-family: Verdana;
	display:block;
	padding-left:2px;
	padding-right:2px;
}

.menuLink
{
	display:block;
	color:Blue;
	margin-right:15px;
}

.menuLink:hover
{
	background-color:Transparent !important;
	color:Orange;
}

.CMSTree
{
}

.CMSEditPage
{
	float:left;
	width:66%;
	padding:1%;
	margin-left:1%;
	background-color:#fff;
	border:1px solid #CCD1FF;
	position:relative;
}


/* WYSIWYG Editor */
.editor
{
	height:200px;
	margin-bottom:50px;
}

.editor div
{
	height:100%;
	border:solid 1px #CCD1FF;
}




