
.headerLogoBg
{
	height:270px;
	background:transparent url(ajax.jpg) no-repeat 0 0;
	width:1003px;
	position:relative;
	margin-bottom:22px;
	margin-top:15px;
	margin-left:15px;
	-webkit-box-shadow: 3px 3px 7px #777;
	-moz-box-shadow: 3px 3px 7px #777;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
}

.logoRaBrix
{
	width:200px;
	height:200px;
	left:15px;
	top:15px;
	-moz-box-shadow: 3px 3px 7px #777;
	-moz-border-radius: 125px;
}

.logoRaBrix a
{
	background-image:url(ra-ajax-logo.png);
}