/* Window "light" */
.light-window
{
	display:block;
}

.light-window_nw
{
	background: transparent url(light-window.png) no-repeat 0 0;
	padding-left:40px;
	position:relative;
}

.light-window_ne
{
	background: transparent url(light-window.png) no-repeat right 0;
	padding-right:40px;
}

.light-window_n
{
	background: transparent url(light-window-vert.png) repeat-x 0 0;
	overflow:hidden;
	height:40px;
}

.light-window_body
{
	overflow:hidden;
	position:relative;
}

.light-window_w
{
	background: transparent url(light-window-horz.png) repeat-y 0 0;
	padding-left:40px;
}

.light-window_e
{
	background: transparent url(light-window-horz.png) repeat-y right 0;
	padding-right:40px;
}

.light-window_title
{
	display:none;
}

.light-window_content
{
	bottom:auto;
	display:block;
	background-color:#cfecff;
	margin-left:-20px;
	margin-right:-20px;
}

.no-background .light-window_content
{
	background-image:none !important;
}

.light-window_sw
{
	background: transparent url(light-window.png) no-repeat 0 -40px;
	padding-left:40px;
}

.light-window_se
{
	background: transparent url(light-window.png) no-repeat right -40px;
	padding-right:40px;
}

.light-window_s
{
	background: transparent url(light-window-vert.png) repeat-x 0 -40px;
	height:40px;
}
